body {
    background-color: rgb(236, 233, 228);
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.bg {
    background-image: url(img/library.jpg);
    position: absolute;
    width: 100%;
    min-height: 100%;
    height: fit-content;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 0 -75px;
    display: flex;
    flex-direction: column;
}

.library {
    display: grid;
    justify-items: center;
}

:root {
    --heading-color: #f6ae2d;
    --tablebutton-color: blueviolet;
    --tablebutton-hover: deepskyblue;
    --formbutton-color: #953c19;
}

header h1 {
    background-color: var(--heading-color);
    padding: 10px 30px;
    border-radius: 10px;
    color: #700000;
}

header h1,
.bookPage h3,
table thead {
    font-family: "Merriweather";
}

button {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
}

.button-container {
    display: flex;
    margin-bottom: 15px;
}

.button-container > * {
    width: 100px;
    margin: 0 35px;
} 

.button-container > *,
.submit-container > * {
    font-size: .85em;
    height: 30px;
    border: none;
    border-radius: 10px;
    background-color: var(--formbutton-color);
    color: white;
}

.button-container > *:hover,
.submit-container > *:hover {
    background-color: var(--heading-color);
    color: black;
}

.button-container > *:active,
.submit-container > *:active {
    transform: scale(0.95);
}

.formContainer{
    opacity: 0;
    display: none;
    padding: 10px;
    background-color: bisque;
    border-radius: 10px;
    margin-bottom: 30px;
    box-shadow: 6px 6px 10px 1px rgb(0 0 0 / 65%);
    transition: .6s ease opacity;
}

#bookForm {
    display: grid;
    justify-content: center;
    gap: 10px;
}

#bookForm input {
    height: 20px;
}

#bookForm input,
#bookForm textarea {
    border: none;
    border-radius: 5px;
    padding: 5px 0 5px 10px;
}

#bookForm input:focus-visible,
#bookForm textarea:focus-visible {
    outline: none;
    background-color: lightblue;
} 


#bookForm #read,
#bookForm #notRead {
    height: 10px;
}

#bookForm textarea {
    height: 100px;
    resize: vertical;
}

#bookForm input:invalid {
    border: 1px dashed hotpink;
}

#bookForm span {
    height: 0;
}

#bookForm input:invalid + span::after {
    position: relative;
    content: '*Required';
    left: 230px;
    top: -36px;
    color: red;
    font-size: 15px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.submit-container > * {
    margin: 10px 10px 0;
    padding: 0 20px;
}

#table-container {
    width: 95%;
    max-width: 1222px;
    display: flex;
    justify-content: center;
    opacity: 0;
    transition: .3s ease opacity;
}

table {
    width: 100%;
    height: auto;
    background-color: rgba(255, 255, 255, 0.95);
    border-collapse: collapse;
    box-shadow: 6px 6px 10px 1px rgb(0 0 0 / 65%);
}

thead td {
    font-weight: bold;
}

td {
    min-width: 100px;
    max-width: 350px;
    height: 2em;
    padding: 5px 10px;
    text-align: center;
    vertical-align: middle;
}

table tbody td  {
    min-height: 3em;
}

table tbody td:nth-child(4) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    min-width: 180px;
}

table tbody tr:nth-child(odd) {
    background-color: rgba(211, 211, 211, 0.6);
}

table tbody tr:hover {
    background-color: rgb(228, 212, 192);
}

.readButton,
.delButton {
    border: none;
    height: 2em;
    width: 5em;
    background-color: var(--tablebutton-color);
    color: white;
    border-radius: 5px;
}

.readButton:hover {
    background-color: var(--heading-color);
    color: black;
}

.delButton:hover {
    background-color: rgb(255, 0, 64);
    color: white;
}

.readButton:active,
.delButton:active {
    transform: scale(0.95);
}

#page-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, 240px);
    justify-content: center;
    gap: 25px;
    transition: .6s ease opacity;
}

.bookPage {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    padding: 10px 20px;
    background-image: url(img/paper3.jpg);
    background-color: cornsilk;
    box-shadow: 6px 6px 10px 1px rgb(0 0 0 / 65%);
    transition: 1s ease opacity;
}

.bookPage h3,
.bookPage p {
    margin: 5px;
}

.bookPage h3 {
    font-size: 1.05em;
}

.bookPage > *:nth-child(even) {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid brown;
}

.bookPage > *:nth-child(10) {
    border: none;
}

.bookPage div {
    display: flex;
    justify-content: space-between;
}

.bookPage .delButton {
    margin-top: auto;
    width: 100%;
}

footer {
    color: white;
    align-self: center;
    margin-top: auto;
    margin-bottom: 20px;
}


/* TODO

get fonts

fade out of page delete */