table {
    width: auto;
    height: auto;
    border: 1px solid black;
}

thead {
    font-weight: bold;
}

td {
    border: 1px solid black;
    min-width: 150px;
    height: 2em;
    text-align: center;
}

.formContainer{
    display: none;
}

.bookPage {
    width: 250px;
    border: 1px solid black;
}

#page-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, 250px);
    grid-template-rows: repeat(2, 1fr);
}